.logo-header {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
header{
    background-color: rgba(0, 0, 0, 0.20);
    padding: auto;
    display: flex;
}
.nav-menu{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    margin: auto;
    font-size: 100%;

}
.nav-menu .nav-menu-horizontal {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight:lighter;
}

.nav-menu-vertical {
    position:absolute;
    display: none;
    list-style: none;    
    background-color: #0D3159;
    width: 160px;
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    border-top: none;
    
}

.nav-menu-horizontal li:hover .nav-menu-vertical{
    display: block;
}

.nav-menu-vertical div{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.nav-menu-vertical div li:hover{
    background-color: white; 
}

.nav-menu-vertical div li:hover a{
    color: #0D3159;
}

.nav-menu-vertical div li{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50px;
    justify-content: center;
    margin-right: 0;
}

.nav-menu li{
    margin-right: 0.5rem;
    font-weight: lighter;
    
}

.nav-menu h1{
    font-size: 25px;
}

.nav-menu-btnRegi {
    background-color: #0D3159;
    border-radius: 10px 0 0 10px;  
    font-style: normal;
    border: 1px solid;
    border-color: white;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-menu-btnIni {
    
    background-color: #0D3159;
    border-radius: 0 10px 10px 0;
    font-style: normal;
    border: 1px solid;
    border-color: black;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: 100%;
    width: 145px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
