@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: auto;
}
a:hover , li:hover{
    cursor: pointer;
}
body{
    background-image: url("../images/blue-1634110.png");
    background-color: #0D3159;
    background-repeat: no-repeat;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.list {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.bar{
    display: grid;
    grid-template-columns: 80% 20%;
    height: 50px;
}

.frame-main{
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    padding: 50px 100px;
    gap: 50px;
}

.frame-main h4{
    font-size: 24px;
}
.frame-main h3{
    font-size: 36px;
}

.publisher {
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
}
.btn-menu{
    display: none;
}

.signup-form-user, .login-form , .signup-form-company{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #0D3159;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 50px;
    visibility: hidden;
    opacity: 0;
}
.form1{
    width: 500px;
    padding: 20px 50px;
    
}

.form1 .close{
    text-align: right;
    font-size: 50px;
    cursor: pointer;
}

.form1 form{
    display: block;
    margin: auto;
}
.signup-form-user.active, .login-form.active , .signup-form-company.active{
    top: 50%;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}

.container.active{
    filter: blur(20px);
    transition: .5s;
    pointer-events: none;
}


 @media (max-width: 965px){
    .footer-div{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        width: 800px;
        gap: 20px;
        justify-items: start;
    }

    .nav-menu-horizontal{
        display: none;
    }
    
    .nav-menu-btnRegi{
        border-radius: 10px;
    }
    .nav-menu-btnIni{
        border-radius: 10px;
    }

    /*nav ul{
        
        flex-direction: column;
        background-color: #777777;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 50px 0;
        gap: 20px;
        height: calc(100% - 80px);
        overflow-y: auto;
    }*/

    

    /*nav ul li :hover{
        border: 1px solid #0D3159;
        
    }
    .nav-menu-btnRegi{
        border-radius: 10px;
    }
    .nav-menu-btnIni{
        border-radius: 10px;
    }

    .btn-menu{
        display:block;
    }*/


 }
