@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
}

a,
li {
   
}


header {
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;

}

.logo-header {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.nav-menu li,h1{
    margin-right: 1.25rem;
    font-weight: lighter;
}

.nav-menu a {
    font-weight:lighter;
    font-size: 22;

}

.nav-menu-btnRegi {
    background-color: #0D3159;
    border-radius: 10px 0 0 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-style: normal;
    border: 1px solid;
    border-color: white;

}

.nav-menu-btnIni {
    background-color: #0D3159;
    border-radius: 0 10px 10px 0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-style: normal;
    border: 1px solid;
    border-color: black;
}

.navbar {
    background: rgba(0, 0, 0, 0.20);
}

.list {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

body{
    background-image: url("images/blue-1634110.png");
    background-repeat: no-repeat;
    background-position: center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.frame-main{
    margin: 100px;
}

.frame-main h3 {
    font-size: 30px;
}

.search-bar{
    border: 1px solid;
    border-color: black;
    height: 50px;
    width: 500px;
    border-radius: 10px 0 0 10px;
    color: #777777;
    font-size: 30px;
}

.search-bar-button{
    border: 1px solid;
    border-color: black;
    font-size: 24px;
    height: 50px;
    width: 150px;
    border-radius: 0 10px 10px 0;
    background-color: #0D3159;
}